body {
  background-color: ghostwhite;
  margin: 3rem auto;
  max-width: 60rem;
}
.quote{
  font-size: 25px;
}
h1 {
  margin: 0px;
  font-size: 35px;
  line-height: 40px;
  font-family: Exchange,Georgia,serif;
  font-weight: 650 ;
  color: black;
}

h2{
  color: black;
  font-family: Exchange,Georgia,serif;
  font-size: larger;
}
h3 {
  font-style:italic;
  color: #555555;
  font-family: Exchange,Georgia,serif;
}

section {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 5rem; */
}
@media screen and (min-width: 35rem) {
  section {
    flex-direction: row;
  }
}
section > * {
  flex: 1;
}

article {
  padding: 0 1rem;
  font-weight: 300
}
article p {
  font-family: Exchange,Georgia,serif;
  font-size: 1.1rem;
  line-height: 1.8;
}
@media screen and (min-width: 35rem) {
  article p {
    margin: 0;
  }
}
@media screen and (min-width: 35rem) {
  article p:not(:last-of-type) {
    min-height: 45vh;
  }
}

figure {
  align-items: center;
  align-self: flex-start;
  background-color: lightskyblue;
  display: flex;
  height: auto;
  margin: 0;
  width: 100%;
  justify-content: center;
  top: 3rem;
  font-family: Exchange,Georgia,serif;
}
@media screen and (min-width: 35rem) {
  figure {
    position: sticky;
  }
}

quotebox{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  border-style: solid;
  border-color: azure;
  border-width: 2px;
  font-size: 25px;
  display: flex;
  height: auto;
  margin: 0;
  width: 100%;
  justify-content: center;
  top: 3rem;
}



div{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  border-style: solid;
  border-color: azure;
  border-width: 2px;
  font-size: 25px;
  font-style: bold;
  font-family: Exchange,Georgia,serif;

}

subtitle{
  color: #555555;
    direction: ltr;
    font-size: 28px;
    line-height: 28px;
    font-family: Exchange,Georgia,serif;
    font-weight: 300;
}

ChartCommont{
  color: #555555;
  direction: ltr;
  font-size: 14px;
  line-height: 14px;
  font-family: Retina,Helvetica,Arial,sans-serif;
  font-weight: 300
} 

/* upper scroll tool bar */


text{
  font-family: Exchange,Georgia,serif;
  font-size: 17px;
  line-height: calc(27 / 17);;
}

html,body{margin:0;}
header{
	position: fixed;
	top:0;
	height: 3px;
	width: 100%;
	background: white;
}



@supports (height: 100vh) {	
	body{	
		background: linear-gradient(to right top, #0089f2 50%, #DDD 50%);
		background-size: 100% calc(100% - 100vh + 3px);
		background-repeat: no-repeat;
	}

	body:before{
		content:'';
		position: fixed;
		top: 10px;
		bottom: 0;
		width: 100%;
		z-index: -1;
		background: white;
	}
}




/*failed try */
/* 
.progess_bar_container{
  position: fixed;
  top: 0px;
  width: 100%;
  background:#6c2fa2;
  z-index: 999;
}

.progess_bar{
  height: 7px;
  background: #e131;
  animation-name: width;
  animation-timeline: scroll(y);
}
@keyframes width{
  from {width: 0}
  to {width: 100%}
}

*/

/* failed try 2.0

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border: 1px solid rgba(2,116,182,1);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}

*/